footer{
    background-color: black;
    color: #ededed;
    text-align: center;
    padding: 20px !important;
    border-top: 3px solid #ededed;
}
footer p:first-child {
    margin-top: 0;
}
footer p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin-top: 10px;
}
